body{
    background-color: #cc8bf7;
    font-family: 'Poppins', sans-serif;
}
h1{
    position:absolute;
    font-size: 40px;
    top: -25px;
    color: black;
}

.flex-center{
    display: flex;
    justify-content: center;
    
}
.calc{
    width: 50vw;
    position: absolute;
    top: 10%;
    display: flex;
    background-color: #f7918b;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
}

.display{
    flex: auto;
    height: 80px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    border-width: 1px;;
    width: auto;
    font-size: 3rem;
    text-align: end;
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: #eee;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:inherit;
}

.internal{
    padding: 15px;
    width: 100%;
}
.numbers{
    flex: auto;
    height: auto;
    width: auto;
    display: grid;
    padding-top: 15px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 1.5fr 1.5fr 1.5fr 2fr;
    grid-template-rows: 70px 70px 70px 70px 70px;
    grid-auto-flow: row;
}
.numbers button{
    border-radius: 5px;
    font-size: 1.7rem;
    text-decoration: none;
}
.operator{
    background: #8be1f7;
}

.center-nums{
    background: #f7e18b;
}
.top{
    background: #b6f78b;
}
